body{
    background-color: #2E3543;
}
main{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.timer-secion{
    width: 50%;
    height: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid 6px rgb(226, 226, 226);
    border-radius: 10px;
}

.hours, .minutes, .seconds{
    border: none;
    margin: 0px 20px;
    border-bottom: 2px solid #397891;
    width: 130px;
    font-size: 75px;
    font-weight: 300;
    font-family: fantasy;

}
.hours:focus, .minutes:focus, .seconds:focus{
    outline: none;
}

.start, .stop, .reset, .close{
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    margin: 0px 10px;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-family: system-ui;
    width: 160px;
}

.start:hover, .stop:hover, .reset:hover, .close:hover{
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .4s;
}

.dialog{
    position: absolute;
    width: 500px;
    height: 50vh;
    padding-top: 20px;
    background: white;
    border: solid 2px rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    display: none;
}